/** @format */

body {
  background: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}
header a {
  text-decoration: none;
  color: white;

}

header {
  max-width: 1139px;
  padding: 23px 24px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.top-menu {
  display: flex;
}

.top-menu a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

header .top-menu .download img {
  vertical-align: middle;
}

/*.top-menu a.components {
  vertical-align: middle;
}*/

.top-menu a.download {
  margin-left: 30px;
}

.top-menu a.twitter {
  margin-left: 27px;
}

.top-menu a.facebook,
.top-menu a.instagram {
  margin-left: 24px;
}

header .burger-icon {
  display: none;
}

/*.top-menu a.download img{
  vertical-align: middle;
}*/

/*.top-menu a.download {
  vertical-align: top;
}*/

main {
  display: flex;
  justify-content: center;
}

.sign-form {
  min-height: 470px;
  background: #fff;
  margin-top: 99px;
  border-radius: 3px;
  padding: 0 20.5px;
}

.social-icons {
  height: 84px;
  background: linear-gradient(90deg, #bc478f 0%, #7b1fa2 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin: auto;
  position: relative;
  top: -39px;
  text-align: center;
  padding: 33px 37px;
}

.social-icons h1 {
  margin: 0 0 36px 0;
  color: #fff;
  font-size: 20px;
}

.social-icons a {
  text-decoration: none;
  margin: 0 19px;
}

form {
  padding: 0 4px;
}

.first-name {
  display: flex;

}

.first-name input {
  width: 269px;
  border: 0;
  border-bottom: 1px solid #D2D2D2;
}

.first-name input:focus {
  outline: none;
  border-bottom-color: #7b1fa2;
  transition: border-bottom-color 2s;
}

.first-name::before {
content: url('face.png');
margin-right: 15px;
margin-left: 4px;
}

@media only screen and (max-width: 786px) {
  header {
    background: rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (max-width: 515px) {
  header .burger-icon {
    display: initial;
  }
  
  header .top-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    position: fixed;
    top: 45px;
    right: 0;
    background: rgba(0, 0, 0, 0.603);
  }

  header .top-menu a.components {
    margin: 5px 5px 5px 25px;
  }

  header .top-menu a.download,
  header .top-menu a.twitter,
  header .top-menu a.facebook,
  header .top-menu a.instagram {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  header nav.open {
    display: flex;
  }
}

@media only screen and (max-width: 380px) {
  .first-name input {
    width: 200px;
  }
}